body {
    background: rgb(234, 217, 186);
}

.homepage-image,
.fondue-image,
.grilled-cheese-image,
.mac-image {
    width: 400px;
    height: auto;
}


/* adjust paragraphs later*/
.fondue-paragraph {
    width: 400px;
    height: auto;
    background-color: white;
    text-align: center;
}

* {
    font-family: Helvetica;
}

.homepage-image,
.index-title,
.recipe-title,
.index-paragraph,
.paragraph-list {
    display: block;
    margin: 0 auto;
    text-align: center;
}

/* Below is mac-and-cheese styling*/
.mac-title {
    font-weight: 800;
    font-size: 24px;
}