/* image size */
img {
    width: 400px;
    height: auto;
    filter: grayscale(100%);
}

/* Fonts */

@font-face {
    font-family: 'bodyfont2';
    src: url('./fonts/bodyfont2.woff2') format('woff2');
}

@font-face {
    font-family: 'headerfont';
    src: url('./fonts/headerfont.woff2') format('woff2');
}


/* p element styling */
p {
    color: black;
    font-size: 24px;
    font-family: 'bodyfont2', sans-serif;
}

/* body element styling */
body {
    font-family: 'bodyfont2', sans-serif;
}

/* header element styling */
h1 {
    font-family: 'headerfont', sans-serif;
    font-weight: lighter;
    font-size: 36px;
}

/* link styling */
a {
    color: black;
}

a:visited {
    color: red;
}

/*nav bar styling*/
nav {
    font-family: 'bodyfont2', sans-serif;
    font-size: 50px;
}

nav:hover {
    background-color: black;
    color: white;
}

nav a:visited {
    color: red;
}

nav a:active {
    color: red;
}