/* image size */
img {
    width: 400px;
    height: auto;
    filter: grayscale(100%);
}

/* Fonts */

@font-face {
    font-family: 'bodyfont2';
    src: url('./fonts/bodyfont2.woff2') format('woff2');
}

@font-face {
    font-family: 'headerfont';
    src: url('./fonts/headerfont.woff2') format('woff2');
}


/* p, ol and ul element styling */
p,
ul,
ol {
    color: black;
    font-size: 24px;
    font-family: 'bodyfont2', sans-serif;
}

/* body element styling */
body {
    font-family: 'bodyfont2', sans-serif;
}

/* header element styling */
h1 {
    font-family: 'headerfont', sans-serif;
    font-weight: lighter;
    font-size: 50px;
}

/* link styling */
a {
    color: red;
}

a:visited {
    color: red;
}

/* top bar styling*/
.top-bar {
    background-color: white;
    font-size: 45px;
}

.top-bar .home-link:hover,
.top-bar .grilled-cheese:hover,
.top-bar .fondue:hover,
.top-bar .mac-and-cheese:hover {
    background-color: black;
}

/* Recipe list on index */
.index-list {
    font-size: 36px;
}

.top-line {
    background-color: black;
    height: 4px;
}